/* .App{
    background-color: #151719;
    height: 100vh;
    width: 100%;
}

.App .navbar{
    background-color: transparent !important;
}

.App .navabar .navbar-nav a:not(.button){
    display: block;
    color: #9ca9b3;
    font-weight: 500;
    padding: 0 32px;
}

h1.landing__heading{
    font-size: 52px;
} */